@tailwind base;
@tailwind components;
@tailwind utilities;

.ui {
  --primary: var(--ui-color);
}

.headless {
  --primary: var(--headless-color);
}

.mdx {
  --primary: var(--mdx-color);
}

:root {
  --headless-color: 250 80% 54%;
  --mdx-color: 0 0% 9%;
  --ui-color: 220deg 91% 54%;
  --shiki-light: #4c4f69;
  --shiki-dark: #cdd6f4;
  --shiki-light-bg: #eff1f5;
  --shiki-dark-bg: #0f0f0f !important;
}

.dark {
  --headless-color: 250 100% 80%;
  --mdx-color: 0 0% 100%;
  --ui-color: 217deg 92% 76%;
}

.uwu {
  --background: 240 80% 94% !important;
  --popover: 240 80% 94% !important;
  --primary: 230 90% 72% !important;
  --border: 230 30% 87% !important;
  --accent: 250 80% 90% !important;
  --secondary: 230 40% 94% !important;
  --muted: 230 80% 92% !important;
  --card: 230 90% 94% !important;
}

.uwu.dark {
  --background: 240 40% 20% !important;
  --popover: 240 20% 20% !important;
  --primary: 250 70% 94% !important;
  --border: 230 30% 30% !important;
  --muted: 230 30% 36.3% !important;
  --secondary: 250 30% 36.3% !important;
  --accent: 250 20% 38.3% !important;
  --muted-foreground: 230 80% 84% !important;
  --card: 230 40% 26.3% !important;
}

#nd-subnav {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --tw-backdrop-blur: blur(12px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}

.stroke-text {
  -webkit-text-stroke: 2px #f0f0f0;
  -webkit-text-fill-color: transparent;
}

.words_width_animat {
  animation: words_width_animation 2.5s normal;
}

.words_width_lens_body {
  animation: lense 3s normal;
}

.word_large_text {
  animation: word_large_text_animation 1s normal;
}

.underline-clip:after {
  animation: underline_clip 4s none;
}

.words_interfaces::after {
  animation: words_interfaces_after_animation 1.5s normal;
}

.words_interfaces::before {
  animation: words_interfaces_before_animation 1.5s normal;
}

@keyframes words_width_animation {
  0% {
    top: 0;
    opacity: 0;
  }
  50% {
    top: -28px;
    opacity: 0.5;
  }
  75% {
    top: -28px;
    opacity: 1;
  }
  100% {
    top: -28px;
    opacity: 1;
  }
}

@keyframes lense {
  0% {
    left: 28%;
  }
  25% {
    left: 60%;
  }
  50% {
    left: 28%;
  }
  100% {
    left: 28%;
  }
}

@keyframes word_large_text_animation {
  0% {
    font-size: 2rem;
  }
  100% {
    font-size: 3rem;
  }
}

@keyframes underline_clip {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes words_interfaces_before_animation {
  0% {
    width: 0;
    opacity: 0;
  }
  /* 65% {
    width: 205px;
    opacity: 0.5;
  } */
  100% {
    width: 205px;
    opacity: 1;
  }
}

@keyframes words_interfaces_after_animation {
  0% {
    height: 0;
    opacity: 0;
  }
  /* 65% {
    height: 60px;
    opacity: 0.5;
  } */
  100% {
    height: 60px;
    opacity: 1;
  }
}

@layer base {
  :root {
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
